
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "SourceSansPro-Regular", sans-serif;
}


body {
    background: linear-gradient(
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.65)
    ), url("../img/background\ negro.avif") no-repeat center center fixed;
    background-size: cover;
}



body::before {
    display: none;
}


.auth-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.auth-card {
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.15);
    color: #fff;
    width: 380px;
    border-radius: 15px;
    padding: 40px 35px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.40);
}


.auth-header {
    text-align: center;
    margin-bottom: 30px;
}

.auth-title {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff !important;
}

.auth-subtitle {
    color: #fff !important;
    font-size: 15px;
    margin-top: 5px;
}


.form-row {
    margin-bottom: 18px;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #e6e6e6;
}

.input-icon-wrapper {
    position: relative;
}

.input-icon-wrapper input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: rgba(255,255,255,0.08);
    color: #fff;
    font-size: 15px;
}

.input-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 16px;
}

.password-toggle {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #ccc;
    cursor: pointer;
}


.btn-auth {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    color: #fff !important;
    background: #bf1e2e;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-auth i {
    color: #fff !important;
}

.btn-auth:hover {
    background: #a01926;
}


.auth-footer {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
}

.auth-footer p {
    color: #fff;
}

.auth-link {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

.auth-link:hover {
    color: #bf1e2e;
}
